@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CalisMTBold';
  src: url('assets/fonts/CalisMTBold/CalisMTBold.woff2') format('woff2'),
    url('assets/fonts/CalisMTBold/CalisMTBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupriaSans-Regular';
  src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupriaSans-Bold';
  src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #fff;
  color: #121213;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'LatoRegular';
  background: url(assets/images/body-bg.jpg);
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.container {
  max-width: 1200px;
  width: 100%;
}
.fl-page-bdy-controller{
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
  -moz-box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
  box-shadow: 0 5px 12px 0 rgba(180,179,179,1);
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}

.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { margin: 0; margin-bottom: 30px; line-height: 1.4;}
a { word-wrap: break-word } 
strong { font-weight:normal; font-family: 'LatoBold'; }
p u{
  text-decoration: underline;
}
p u a{
  color: #1472dc;
}
.text-green{
  color: #00553b;
}
.text-white{
  color: #fff;
}
ul.ctu{
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.ctu li{
  padding: 22px 20px 25px 56px;
  position: relative;
  line-height: 28px;
}
ul.ctu li:before{
    content: "";
    position: absolute;
    left: 20px;
    top: 22px;
    background: url(assets/images/list-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
}
ul.reset-list,
ol.reset-list,
ul.sub-menu,
.fl-pagi-ctlr ul,
.reset-slect ul,
.recent-projects-section ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.reset-list li,
ul.sub-menu li,
.fl-pagi-ctlr ul li,
.reset-slect ul li,
.recent-projects-section ul li{
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
}
.reset-list li:before,
ul.sub-menu li:before,
.fl-pagi-ctlr ul li:before,
.reset-slect ul li:before,
.recent-projects-section ul:before{
  content: none!important;
}
.inline-bg{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
}
.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 32px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  font-family: 'CalisMTBold';
} 

@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1{
      font-size: 52px;
    }
    h2{
      font-size: 44px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 30px;
    }
    br{
        display: none;
    }
}
@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    .pull-right{
      float: initial!important;
    }
    .pull-left{
      float: initial!important;
    }
    p{
       margin-bottom: 25px;
       font-size: 22px!important;
    }
    h1{
      font-size: 45px;
    }
    h2{
      font-size: 38px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 28px;
    }
    
    .plr-30 {
      padding-left: 0px!important;
      padding-right: 0px!important
    }
    .plr-20 {
      padding-left: 0px!important;
      padding-right: 0px!important
    }
    .plr-10 {
      padding-left: 0px!important;
      padding-right: 0px!important
    }
    .plr-15 {
      padding-left: 0px!important;
      padding-right: 0px!important
    }
    .plr-5{
      padding-left: 0px!important;
      padding-right: 0px!important
    }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    p{
      font-size: 20px!important;
       margin-bottom: 20px;
    }
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 35px;
    }
    h3 {
      font-size: 28px;
    }
    h4 {
      font-size: 25px;
    }

}
