.clu-text-modiule{
	width: 100%;
	margin-top: 10px;
}
.clu-text-modiule > p:last-of-type{
	margin-bottom: 30px;
}
.ln-sec-one{

}
p strong,
li strong{
	font-weight: 700;
}
.nu{
	text-decoration: none!important;
}
.ln-sec-one-hedding{
	position: relative;
	background-position: center bottom!important;
	padding-top: 120px;
	padding-bottom: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
.ln-sec-one-sub-title{
	text-transform: capitalize;
}
.ln-sec-one-top-hdng{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 18px 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	border-bottom: 4px solid #102742;
	background-size: 100% 100%!important;
}
.ln-sec-one-title{
	text-transform: uppercase;
}
.ln-sec-one-btm-title-inr{
	text-align: center;
	padding-top: 35px;
}
.ln-sec-one-fea-img{
	padding: 50px 10px 0 10px;
	text-align: center;
	margin-bottom: 30px;
}
.ln-sec-one-btm-title-inr > strong{
	font-family: 'LatoBold';
	font-size: 32px;
	line-height: 1.2;
	margin-bottom: 25px;
	display: inline-block;

}
.entry-nmbr{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 112px;
	height: 60px;
	padding-right: 10px;
	margin-bottom: 15px;
}
.entry-nmbr h3{
	font-size: 36px;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.ln-sec-one-desc > h3{
	margin-bottom: 25px;

}
.ln-sec-one-desc > p{
	margin-bottom: 40px;
}
.ln-sec-one-desc > p:last-of-type{
	margin-bottom: 28px;
}
.ln-sec-two{
	padding-top: 15px;
	background-repeat: repeat!important;
}
.ln-sec-two-desc{
	padding-top: 
}
.ln-sec-three{
	padding-top: 25px;
}
.ln-sec-three-desc h3{
	margin-bottom: 5px;
}
.ln-sec-three-desc h6{
	font-family: 'CalisMTBold';
	font-size: 20px;
	line-height: 1;
	margin-bottom: 35px;
}
.ln-sec-three-desc h6 span{
	color: #ff0000;
}
.ln-sec-three-grid{

}
.ln-sec-three-grid > ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px!important;
}
.ln-sec-three-grid > ul > li{
	width: 33.33%;
	padding: 0 10px;
	margin-bottom: 20px;

}
.ln-sec-three-grid-item{
	border-radius: 10px;
	border: 2px solid #fff;
	background: #fbf4d2;
	box-shadow: 0 1px 10px 0 #ece8e8;
	position: relative;
	min-height: 131px;
}
.ln-sec-three-grid-item > p{
	padding: 22px 14px 25px 55px;
	position: relative;
	line-height: 28px;
	margin-bottom: 0;
}
.ln-sec-three-grid-item > i{
    position: absolute;
    left: 20px;
    top: 17px;
    
}
.ln-sec-three-grid-item > i img{
	background-repeat: no-repeat;
    background-size: 100% auto;
    width: 24px;
    height: 24px;
}
.ln-sec-four{
	padding-top: 25px;
}
.ln-sec-five{
	background: #fbf4d2;
	padding-bottom: 35px;
}
.ln-sec-five .clu-text-modiule{
	padding-top: 40px;
	margin-top: 0;
}
.ln-sec-five-hding{
	border-radius: 5px;
	border: 3px solid #d67a00;
	text-align: center;
	max-width: 770px;
	width: 100%;
	margin: auto;
	padding: 23px 0 7px 0;
	margin-bottom: 45px;
}
.ln-sec-five-hding strong{
	display: inline-block;
	margin-bottom: 0;
	line-height: 1;
	color: #000;
	font-size: 80px;
	font-family: 'BarlowCondensed-Bold';

}
.ln-sec-five-hding strong a{
	color: #000;
}
.sec-five-text-modiule{
	position: relative;
	text-align: center;
	max-width: 835px;
	width: 100%;
	margin: auto;
}
.sec-five-text-modiule span{
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 27px;
}
.sec-five-text-modiule i{
	background-repeat: no-repeat;
    background-size: 100% auto;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    top: 0;
}
.sec-five-text2-modiule{
	max-width: 880px;
	width: 100%;
	margin: auto;
	text-align: center;
}
.sec-five-text2-modiule > p{
	font-size: 20px;
	color: #1075e7;
}

@media(max-width: 1199px){
	.ln-sec-three-grid-item{
		min-height: 145px;
	}
	.ln-sec-three-grid-item > p{
		padding: 16px 7px 13px 52px;
	}
	.ln-sec-five-hding strong{
		font-size: 65px;
	}
	.ln-sec-three-grid-item > i {
		left: 17px;
		top: 12px;
	}
}
@media(max-width: 991px){
	.ln-sec-one-top-hdng{
		padding: 12px 0 1px 0;
	}
	.ln-sec-one-hedding{
		padding: 88px 0 22px 0;
	}
	.ln-sec-one-btm-title-inr > strong{
		font-size: 28px;
	}
	.ln-sec-one-fea-img{
		padding: 10px 0 0 0;
	}
	.ln-sec-one-desc > h3{
		margin-bottom: 21px;
	}
	.ln-sec-one-desc > p{
		margin-bottom: 32px;
	}
	.ln-sec-three-grid > ul{
		
	}
	.ln-sec-three-grid > ul > li{
		width: 50%;
	}
	.ln-sec-three-grid-item{
		min-height: 117px;
	}
	.ln-sec-five{
		padding-bottom: 25px;
	}
	.ln-sec-five-hding{
		margin-bottom: 35px;
	}
	.ln-sec-five-hding strong{
		font-size: 50px;
	}
	.ln-sec-five .clu-text-modiule{
		padding-top: 25px;
	}
	.sec-five-text-modiule span{
		padding-left: 34px;
		margin-bottom: 18px;
	}
}
@media(max-width: 767px){
	.ln-sec-one-btm-title-inr > strong{
		font-size: 24px;
	}
	.ln-sec-one-btm-title-inr{
		padding-top: 25px;
	}
	.ln-sec-one-desc > h3{
		margin-bottom: 17px;
	}
	.ln-sec-one-desc > p{
		margin-bottom: 22px;
	}
	.ln-sec-five{
		padding-bottom: 15px;
	}
	.sec-five-text-modiule span{
		margin-bottom: 10px;
	}
	.ln-sec-five-hding{
		margin-bottom: 25px;
	}
	.ln-sec-five-hding strong{
		font-size: 40px;
	}
	.ln-sec-five .clu-text-modiule{
		padding-top: 10px;
	}
	.sec-five-text2-modiule > p{
		font-size: 18px;
	}
}
@media(max-width: 639px){
	.ln-sec-three-grid > ul{
		padding: 50px!important;
	}
	.ln-sec-three-grid > ul > li{
		width: 100%;
	}
	.ln-sec-three-grid-item{
		min-height: initial;
	}
	.entry-nmbr{
		height: 50px;
		width: 100px;
	}
	.entry-nmbr h3{
		font-size: 29px;
	}

}
@media(max-width: 575px){
	.ln-sec-one-btm-title-inr{
		padding-top: 15px;
	}
	.ln-sec-one-desc > p{
		margin-bottom: 17px;
		line-height: 1.3;
	}
	.entry-nmbr {
		height: 40px;
		width: 76px;
		padding-right: 5px;
	}
	.entry-nmbr h3{
		font-size: 23px;
	}
}
@media(max-width: 479px){
	.ln-sec-three-grid > ul{
		padding: 0!important;
	}
}