@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff2') format('woff2'),
    url('assets/fonts/BarlowCondensed-Bold/BarlowCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CalisMTBold';
  src: url('assets/fonts/CalisMTBold/CalisMTBold.woff2') format('woff2'),
    url('assets/fonts/CalisMTBold/CalisMTBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupriaSans-Regular';
  src: url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Regular/SupriaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SupriaSans-Bold';
  src: url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff2') format('woff2'),
    url('assets/fonts/SupriaSans-Bold/SupriaSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




